doctype 5
html
    head
        title KON Secret Santa XXXX
        link(rel='stylesheet', href='/css/style.css')
    body
        .container
            h1
                img(src='/images/title.png', alt='KON Secret Santa XXXX')
            .frame
                .canvas

        script(src='/js/vendor/jquery-1.10.2.js')
        script(src='/js/app.js')
