@import './bootstrap/bootstrap.less';

@container-tablet: 570px + @grid-gutter-width;
@container-desktop: @container-tablet;
@container-lg-desktop: @container-tablet;

// Utility

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.transition(@items) {
    -webkit-transition: @items;
    -moz-transition: @items;
    -ms-transition: @items;
    -o-transition: @items;
    transition: @items;
}

.transform(@scale) {
    transform: scale(@scale, @scale);
    -ms-transform: scale(@scale, @scale);
    -webkit-transform: scale(@scale, @scale);

    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.hide {
    display: none;
}

// Layout

body {
    background: url('/images/background.png') top center repeat-x #587070;
    font-family: Arial,sans-serif;
    min-height: 870px;
    min-width: 320px;
}

.container-main {
    width: 600px;
    position: relative;
    background-color: white;
    margin-top: 160px;
    padding-top: 60px;
    padding-bottom: 30px;
    box-shadow: 0px 9px 2px rgba(0, 0, 0, 0.5);
    .transition(background-color 0.5s);
}

.section {
    .clearfix();
}

// Typography

h1, h2, h3 {
    color: #2F63A5;
}

ul {
    padding-left: 0;
}

li {
    padding-left: 25px;
    list-style-type: none;
    background: no-repeat 3px center url('/images/mushroom.png');
    line-height: 26px;
}

ul.alt li {
    background-image: url('/images/poison_mushroom.png');
}

.btn {
    margin-bottom: 10px;
}

.btn, .btn:hover {
    position: relative;
    border: none;
    color: white;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.btn:active {
    top: 1px; left: 1px;
    color: white;
    box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.6);
}

.btn-default {
    &, &:hover {
        background-color: #11C1F8;
    }
    &:active {
        background-color: #00A6DA;
    }
}

.btn-primary {
    background-image: url('/images/primary_stripe.png');
    &:active {
        background-image: url('/images/primary_stripe_active.png');
    }
}

.btn-warning {
    &, &:hover {
        background-image: url('/images/warning_stripe.png');
    }
    &:active {
        background-image: url('/images/warning_stripe_active.png');
    }
}

.btn-danger {
    &, &:hover {
        background-image: url('/images/danger_stripe.png');
    }
    &:active {
        background-image: url('/images/danger_stripe_active.png');
    }
}

.btn-danger.btn-lg {
    &, &:hover {
        box-shadow: 2px 2px 0px #A83434;
    }
    &:active {
        box-shadow: -2px -2px 0px #A83434;
        top: 2px; left: 2px;
    }
}

.btn-lg {
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 30px;
    color: white;
    border-width: 1px;
}

.btn-sm {
    padding: 2px 6px;
    margin: 0;
}

.alert-danger {
    background-color: #FF3E37;
    border-color: #B91930;
    color: #FFFFFF;
}

.error {
    margin: 20px 0px 30px;
}

.error p {
    display: inline;
    font-size: 120%;
    color: white;
    border: 2px solid #8C1717;
    padding: 1px 4px;
    background: #EE0000 url('/images/error_stripe.png') repeat;
}

// Forms

.form-inline {
    .form-row {
        .clearfix();
        margin-bottom: 6px;
    }

    .form-group {
        width: 215px;

        &.form-group-s {
            width: 120px;
        }

        &.form-group-l {
            width: 210px;
        }
    }

    .form-button {
        display: inline-block;
        vertical-align: top;
    }

    .form-group, .form-button {
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .divider-inline {
        display: inline-block;
        margin: 0 7px 15px 4px;
        vertical-align: bottom;
    }

    .checkbox {
        margin: 0;
        padding: 0;
    }

    .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }

    .checkbox label {
        display: inline-block;
    }

    .btn {
        display: inline-block;
        margin-right: 1px;
        padding: 7px 12px;
    }

    // .well {
    //     padding-bottom: 9px;
    // }
}

.inline-form {
    display: inline;
}

// Elements

.well {
    margin-bottom: 10px;
    padding: 12px 20px 3px;

    label {
        font-weight: normal;
    }

    h3, h4 {
        margin: 6px 0 14px;
        font-size: 18px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    h3 {
        font-size: 20px;
        margin: 0 0 10px;
    }

    .alert {
        padding: 8px 12px;
        margin-bottom: 10px;
    }

    &.well-success {
        background-color: #DEFFD8;
        border-color: #A6EE8F;

        h3, h4 {
            color: #1BA300;
        }

        .btn-default {
            background-color: #5cb85c;
            border-color: #4cae4c;
        }
    }

    &.well-primary {
        background: #B8EEFF;
        border-color: #61DFFF;

        h3, h4 {
            color: #377FFF;
        }

        input {
            border-width: 0;
        }

        .btn-default {
            background-color: #1887FF;
        }
    }
}

.alert-success {
    background: #B8EEFF;
    border-color: #61DFFF;
    color: #377FFF;
}

.title {
    display: block;
    position: absolute;
    left: 0; top: -80px;
    height: 142px;
    width: 680px;
    margin: 0 -30px;
    line-height: 142px;

    h1 {
        img {
            position: absolute;
            top: 0; left: 0;
            display: block;
            margin: 0 auto;
        }

        .digit {
            position: absolute;
            top: 0;
            background: url(/images/numbers.png) no-repeat;
            width: 118px;
            height: 120px;

            &.first { left: 510px; top: 5px; }
            &.second { left: 575px; top: 6px; }
            &.digit-0 { background-position: 0 0; }
            &.digit-1 { background-position: 0 -120px; }
            &.digit-2 { background-position: 0 -240px; }
            &.digit-3 { background-position: 0 -360px; }
            &.digit-4 { background-position: 0 -480px; }
            &.digit-5 { background-position: 0 -600px; }
            &.digit-6 { background-position: 0 -720px; }
            &.digit-7 { background-position: 0 -840px; }
            &.digit-8 { background-position: 0 -960px; }
            &.digit-9 { background-position: 0 -1080px; }
        }
    }
}

h2.santa {
    margin-left: 30px;
}

.exception {
    .names {
        margin-right: 5px;
    }
}

.launch {
    h3 {
        margin-left: 10px;
        color: #EB2121;
    }
}

@media (max-width: 615px) {
    .container-main {
        width: auto;
    }
}

@media (max-width: @screen-xs-max) {
    .title {
        position: static;
        margin: 0 auto;
        top: -140px;
        width: 544px;
        margin-top: -130px;
        margin-bottom: -30px;

        h1 {
            margin: 0;
            .transform(0.8);
        }
    }

    .form-inline {
        .btn {
            margin-bottom: 15px;
        }

        .form-group, .divider-inline {
            margin-bottom: 7px;
        }
    }
}

@media (max-width: 580px) {
    .title {
        width: 408px;
        height: 100px;
        margin-top: -110px;

        h1 {
            .transform(0.6);
        }
    }
}

@media (max-width: 479px) {
    .title {
        width: 280px;
        height: 60px;
        margin-top: -65px;
        margin-bottom: -8px;

        h1 {
            .transform(0.42);
        }
    }

    .container-main {
        margin-top: 80px;
        padding-top: 30px;
    }

    body {
        min-height: 960px;
    }
}
